<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>

<app-header></app-header><br/><br/>
<div style="text-align: center;">
<h1 style="color: black;text-align: center;text-underline-position: above;font-size:30px;">
  Meet The Team<br/></h1>
  <span style="justify-content: center;">Our Partners</span>  
</div>
  <div>
<ul class="list-members">
  <li class="member">
    <div class="member-image">
      <img src="/assets/IMG_1142.png">
    </div>
    <div class="member-info">
      <h3>Anastasia</h3>
      <p>Russian Tutor</p>

      <div class="wrapper">
        <a href="#" class="icon facebook">
          <div class="tooltip">Facebook</div>
          <span><i class="fab fa-facebook-f"></i></span>
        </a>
        <a href="#" class="icon twitter">
          <div class="tooltip">Twitter</div>
          <span><i class="fab fa-twitter"></i></span>
        </a>
        <a href="#" class="icon instagram">
          <div class="tooltip">Instagram</div>
          <span><i class="fab fa-instagram"></i></span>
        </a>
        <!-- <a href="#" class="icon youtube">
          <div class="tooltip">Youtube</div>
          <span><i class="fab fa-youtube"></i></span>
        </a> -->
      </div>

    </div>
  </li>
  <li class="member">
    <div class="member-image">
      <img src="/assets/Manya AU.png" style="width:100%;">
    </div>
    <div class="member-info">
      <h3>Manya</h3>
      <p>Japanese Tutor</p>
      <div class="wrapper">
        <a href="#" class="icon facebook">
          <div class="tooltip">Facebook</div>
          <span><i class="fab fa-facebook-f"></i></span>
        </a>
        <a href="#" class="icon twitter">
          <div class="tooltip">Twitter</div>
          <span><i class="fab fa-twitter"></i></span>
        </a>
        <a href="#" class="icon instagram">
          <div class="tooltip">Instagram</div>
          <span><i class="fab fa-instagram"></i></span>
        </a>
        <!-- <a href="#" class="icon youtube">
          <div class="tooltip">Youtube</div>
          <span><i class="fab fa-youtube"></i></span>
        </a> -->
      </div>
    </div>
  </li>
  <li class="member">
    <div class="member-image">
      <img src="/assets/Mansi AU.png">
    </div>
    <div class="member-info">
      <h3>Mansi</h3>
      <p>English Tutor</p>
      <div class="wrapper">
        <a href="#" class="icon facebook">
          <div class="tooltip">Facebook</div>
          <span><i class="fab fa-facebook-f"></i></span>
        </a>
        <a href="#" class="icon twitter">
          <div class="tooltip">Twitter</div>
          <span><i class="fab fa-twitter"></i></span>
        </a>
        <a href="#" class="icon instagram">
          <div class="tooltip">Instagram</div>
          <span><i class="fab fa-instagram"></i></span>
        </a>
        <!-- <a href="#" class="icon youtube">
          <div class="tooltip">Youtube</div>
          <span><i class="fab fa-youtube"></i></span>
        </a> -->
      </div>
    </div>
  </li>
  <li class="member">
    <div class="member-image">
      <img src="/assets/Christiana AU.png">
    </div>
    <div class="member-info">
      <h3>Christiana</h3>
      <p>French Tutor</p>
      <div class="wrapper">
        <a href="#" class="icon facebook">
          <div class="tooltip">Facebook</div>
          <span><i class="fab fa-facebook-f"></i></span>
        </a>
        <a href="#" class="icon twitter">
          <div class="tooltip">Twitter</div>
          <span><i class="fab fa-twitter"></i></span>
        </a>
        <a href="#" class="icon instagram">
          <div class="tooltip">Instagram</div>
          <span><i class="fab fa-instagram"></i></span>
        </a>
        <!-- <a href="#" class="icon youtube">
          <div class="tooltip">Youtube</div>
          <span><i class="fab fa-youtube"></i></span>
        </a> -->
      </div>
    </div>
  </li>
  <li class="member">
    <div class="member-image">
      <img src="/assets/Untitled design.png">
    </div>
    <div class="member-info">
      <h3>Dana</h3>
      <p>Brandambassador</p>
      <div class="wrapper">
        <a href="#" class="icon facebook">
          <div class="tooltip">Facebook</div>
          <span><i class="fab fa-facebook-f"></i></span>
        </a>
        <a href="#" class="icon twitter">
          <div class="tooltip">Twitter</div>
          <span><i class="fab fa-twitter"></i></span>
        </a>
        <a href="#" class="icon instagram">
          <div class="tooltip">Instagram</div>
          <span><i class="fab fa-instagram"></i></span>
        </a>
        <!-- <a href="#" class="icon youtube">
          <div class="tooltip">Youtube</div>
          <span><i class="fab fa-youtube"></i></span>
        </a> -->
      </div>
    </div>
  </li>
  <!-- garima -->
  <li class="member">
    <div class="member-image">
      <img src="/assets/Garima.jpg">
    </div>
    <div class="member-info">
      <h3>Garima</h3>
      <p>Hindi Tutor</p>
      <div class="wrapper">
        <a href="#" class="icon facebook">
          <div class="tooltip">Facebook</div>
          <span><i class="fab fa-facebook-f"></i></span>
        </a>
        <a href="#" class="icon twitter">
          <div class="tooltip">Twitter</div>
          <span><i class="fab fa-twitter"></i></span>
        </a>
        <a href="#" class="icon instagram">
          <div class="tooltip">Instagram</div>
          <span><i class="fab fa-instagram"></i></span>
        </a>
        <!-- <a href="#" class="icon youtube">
          <div class="tooltip">Youtube</div>
          <span><i class="fab fa-youtube"></i></span>
        </a> -->
      </div>
    </div>
  </li>
</ul>


</div>

<div id="faq" class="faq-body">
  <div class="faq-header">
    <h3 class="faq-title">FAQ's</h3>
    <div class="seperator"></div>
  </div>
  <div class="faq-list">
      <div>
        <details open>
          <summary title="How can I pay for my appointment?">Q. Who should take an Online Course?</summary>
          <p class="faq-content">Students join our online courses for a variety of reasons and come from diverse backgrounds, professions, and age groups. With online courses, you can
            Advance your skill-set or begin a career change.
            Take the next step in your formal education.
            Enjoy learning a new topic.  
            Whatever the reason, our online courses are a flexible way of learning about the art world without disrupting your daily life.</p>
        </details>
        </div>
      <div>
        <details>
          <summary title="What can I expect at my first consultation?">Q. Can I take more than one course at a time?</summary>
          <p class="faq-content">If you are new to online learning, we recommend that you begin with one course. As our courses are offered frequently throughout the year, you can always come back and continue your studies with one or more topics.</p>
        </details>
        </div>
      <div>
        <details>
          <summary title="What are your opening hours?">How do I register?</summary>
          <p class="faq-content">Registration is available on our website. Just follow these simple steps:

            Click the “Login” button in the top right corner of your screen.
            Select “Online Courses.”
            Choose your course(s).
            You will be asked for basic contact information and your card payment. We require full payment at the time of registration.
        </p>
        </details>
        </div>
      <div>
        <details>
          <summary title="Do I need a referral?">My payment did not go through. What do I do?</summary>
          <p class="faq-content">We apologize for this inconvenience. We encourage you to reach out to your financial institution as further permissions may be needed to complete the payment. You are also welcome to write to online@sothebysinstitute.com for further guidance. Please wait a full 24 hours before trying again. A strong Internet connection and up-to-date browser are strongly recommended.</p>
        </details>
        </div>
      <div>
        <details>
          <summary title="Is the cost of the appointment covered by private health insurance?">Who should I contact if I have additional questions?</summary>
          <p class="faq-content">You can contact the Online Team at info@linguisthubs.com</p>
        </details>
        </div>
      <div>
            <details>
                <summary title="What are the parking and public transport options?">What are your Terms and Conditions?</summary>
                <p class="faq-content">Visit our Terms and Conditions page for details.</p>
            </details>
        </div>
  </div>
</div>
<app-footer></app-footer>