<app-header></app-header>
<div class="body-bg">
<div class="msg-bar">
    <img class="favicon" src="/assets/Flag_of_Russia.svg.png">  
    Russian<br/>
    ⭐⭐⭐⭐4/5 (129 reviews) with Anastasia<img class="profile" src="/assets/IMG_1142.png">
    <h3 style="color:gold;">Learn Russian With Anastasiia</h3>  
    <h3>Embark on a rewarding journey to learn Russian with me From<br/> mastering the basics to conversational fluency, let's navigate the<br/> intricacies of the language together. Personalized lessons and cultural<br/> insights await you on this exciting Russian language adventure!</h3>
    <img class="play" src="/assets/LH LOGO - Copy.png"><br/>
    <iframe class="introduction" width="560" height="315" src="https://youtu.be/Y681hXWwhQY?si=e1o1YOwyQUz1MvFY" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
     web-share" allowfullscreen></iframe>
</div><br/>
<!-- <br/><div class="seperate-line"></div><br/> -->
<h2><b>Everything you need,structured and ready to go</b></h2>
<hr class="syllabus-detail">
<br/><br/>
<div class="container">
<div class="left-card">  <!--card with discription --> 
<div class="product-card">
    <img src="/assets/Anastasiia.png" alt="Russian-Tutor">
    <h4><b>Russian With Anastasiia</b></h4>
    <div>
      <button mat-raised-button (click)="getLink()"
        matTooltip={{MatToolTip}}
        aria-label="Button that displays a tooltip when focused or hovered over">
  {{btn_buy}}
</button>
      <!-- <span>$299</span> -->
    </div>    
</div>
  <div class="icon-title">
    <div><img class="img" src="/assets/online-graduation-7539.png">Shareable Certificate
    <div class="caption">Earn a Certificate upon completion</div><br/>
    <div><img class="img" src="/assets/tablet-704.png">100% online courses</div>
    <div class="caption">Start instantly and learn at your own<br/>schedule.</div><br/>
    <div><img class="img" src="/assets/event-2319(1).png">Flexible Schedule</div>
    <div class="caption">Set and maintain flexible deadlines.</div><br/>
    <div><img class="img" src="/assets/green-battery-lighting-or-power-19108.png">Beginner Level</div>
    <div class="caption"> No prior experience required.
    <pre style="color: black;">Approximately 2 months to complete
     Suggested pace of 2 hour/week
     Subtitles: Russian
    </pre>
    </div> 
</div>
</div>
<h1><b>What you'll learn</b></h1>
Unlock the richness of Russian language with our course, mastering pronunciation, grammar, and essential vocabulary for confident communication.
</div>
<div class="syllabus-box">
  <div class="head-syllabus">
  <h1><b>CURRICULUM</b></h1>
  <p>40 Units⌚3 Tests⌚40+ Lessons</p>
  </div>

  <div class="sub-syllabus">
  <h3>1️⃣ Introduction to Front-End Engineer Career Path</h3>
  <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="sub-syllabus">
  <h3>2️⃣ Introduction to Front-End Engineer Career Path</h3>
  <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="sub-syllabus">
  <h3>3️⃣ Introduction to Front-End Engineer Career Path</h3>
  <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="sub-syllabus">
  <h3>4️⃣ Introduction to Front-End Engineer Career Path</h3>
  <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="sub-syllabus">
  <h3>5️⃣ Introduction to Front-End Engineer Career Path</h3>
  <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="sub-syllabus">
  <h3>6️⃣ Introduction to Front-End Engineer Career Path</h3>
  <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="sub-syllabus">
      <h3>7️⃣ Introduction to Front-End Engineer Career Path</h3>
      <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="bt-syllabus">
    <button style="color: white;" class="btn" mat-button (click)="openSnackBar()">See all 180 units</button>
  </div>  
</div> 
</div>
<!-- syllabus details --><br/>
<hr class="syllabus-detail">

<div class="syllabus-detail">
  <h3><b>Unlock Your Language Potential with Anastasia: Your Experienced Russian Tutor</b></h3><h3>Introduction:</h3>Hello, I'm Anastasia, a dedicated language teacher with over 9 years of experience in foreign languages and Russian instruction. I've had the privilege of working with students spanning various ages, from enthusiastic 
  5-year-olds to mature adults aged 60. Teaching, for me, is not just a job; it's a calling, and I approach it with genuine love and unwavering professionalism.
  
What You Will Learn:
Join me on this educational adventure, where each lesson is crafted with passion and expertise. Throughout the course, you'll: 
  
Areas of Expertise:
  
<br/><b>Language Fundamentals:</b>Explore the essentials of Russian, covering grammar, pronunciation, and vocabulary to build a strong linguistic foundation.
<br/><b>Effective Teaching Approaches:</b>Benefit from my extensive experience as we delve into proven methods tailored to different age groups,ensuring an engaging and effective learning experience.
<br/><b>Grammar and Vocabulary:</b>Make grammar enjoyable and expand vocabulary through interactive exercises.
<br/><b>Cultural Immersion:</b>Understand not only the language but also the rich cultural nuances, providing you with a deeper connection to the Russian language and its context.
<br/><b>Individualized Learning:</b>Tailor your learning experience to suit your unique needs, whether you're a young learner or an adult, maximizing your progress and proficiency.
<br/><b>Continuous Improvement:</b>Witness the commitment to excellence as I bring my continuous learning journey into the course, ensuring you receive the most up-to-date and effective language instruction.
  
<br/><b>Benefits:</b>

<br/><b>Holistic Learning Experience:</b>Immerse yourself in a well-rounded educational journey that goes beyond language acquisition, providing cultural insights and fostering a deeper connection to Russian.
<br/><b>Professional Guidance:</b>Benefit from a teacher who views education as a vocation, ensuring that each lesson is delivered with love, professionalism, and a dedication to your success.
<br/><b>Adaptability:</b>Witness the impact of continuous learning on the quality of the course, as I strive to enhance my skills to provide you with the best possible education.

Join me in this exciting adventure, and together, let's explore the beauty and intricacies of the Russian language.   
</div>  

<!-- review by customers -->
<br/><br/><hr class="syllabus-detail"><br/><br/><br/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <div class="wrapper">
    <div class="box">
      <i class="fas fa-quote-left quote"></i>
      <p>Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias.</p>
      <div class="content">
        <div class="info">
          <div class="name">Alex Smith</div>
          <div class="job">Designer | Developer</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="/assets/Divya review.png" alt="">
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left quote"></i>
      <p>Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias.</p>
      <div class="content">
        <div class="info">
          <div class="name">Steven Chris</div>
          <div class="job">YouTuber | Blogger</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="/assets/Manya AU.png" alt="">
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left  quote"></i>
      <p>Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias.</p>
      <div class="content">
        <div class="info">
          <div class="name">Kristina Bellis</div>
          <div class="job">Freelancer | Advertiser</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="/assets/Mansi AU.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>  
  <div class="spinning-circle" *ngIf="isSpin">
    <div class="spin-circle">
    </div>  
  </div>   
<app-footer></app-footer>
