<app-header></app-header>
<div class="msg-bar">
    <img class="favicon" src="/assets/Flag_of_Japan.svg.png">  
    Japanese<br/>
    ⭐⭐⭐⭐4/5 (129 reviews) with Manya<img class="profile" src="/assets/Manya AU.png">
    <h3 style="color:gold;">Learn Japanese With Manya</h3>
    <h3>Embark on a journey to learn Japanese, mastering essential language<br/>skills such as pronunciation, grammar, and cultural nuances for effective<br/>communication and cultural understanding.</h3>
    <iframe class="introduction" width="560" height="315" src="https://youtu.be/Y681hXWwhQY?si=e1o1YOwyQUz1MvFY" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
     web-share" allowfullscreen></iframe>
</div><br/>
<!-- <br/><div class="seperate-line"></div><br/> -->
<h2><b>Everything you need,structured and ready to go</b></h2>
<hr class="syllabus-detail">
<br/><br/>
<div class="container">
<div class="left-card">  <!--card with discription --> 
<div class="product-card">
    <img src="/assets/Manya_AU-removebg-preview (1).png" alt="Japanese-Tutor">
    <h4><b>Japanese With Manya</b></h4>
    <div>
      <button mat-raised-button routerLink="/login"
        matTooltip="Redirecting to the Buying Page"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Buy
</button>
      <!-- <span>$299</span> -->
    </div>    
</div>
  <div class="icon-title">
    <div><img class="img" src="/assets/online-graduation-7539.png">Shareable Certificate
    <div class="caption">Earn a Certificate upon completion</div><br/>
    <div><img class="img" src="/assets/tablet-704.png">100% online courses</div>
    <div class="caption">Start instantly and learn at your own<br/>schedule.</div><br/>
    <div><img class="img" src="/assets/event-2319(1).png">Flexible Schedule</div>
    <div class="caption">Set and maintain flexible deadlines.</div><br/>
    <div><img class="img" src="/assets/green-battery-lighting-or-power-19108.png">Beginner Level</div>
    <div class="caption"> No prior experience required.
    <pre style="color: black;">Approximately 1 months to complete
     Suggested pace of 1 hour/week
     Subtitles: English
    </pre>
    </div> 
</div>
</div>
<h1><b>What you'll learn</b></h1>

Master Japanese essentials, from pronunciation to cultural insights, for confident communication and cultural appreciation.
</div>
<div class="syllabus-box">
  <div class="head-syllabus">
  <h1><b>CURRICULUM</b></h1>
  <p>20 Units⌚3 Tests⌚40 Lessons</p>
  </div>

  <div class="sub-syllabus">
  <h3>1️⃣ Introduction to Front-End Engineer Career Path</h3>
  <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="sub-syllabus">
  <h3>2️⃣ Introduction to Front-End Engineer Career Path</h3>
  <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="sub-syllabus">
  <h3>3️⃣ Introduction to Front-End Engineer Career Path</h3>
  <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="sub-syllabus">
  <h3>4️⃣ Introduction to Front-End Engineer Career Path</h3>
  <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="sub-syllabus">
  <h3>5️⃣ Introduction to Front-End Engineer Career Path</h3>
  <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="sub-syllabus">
  <h3>6️⃣ Introduction to Front-End Engineer Career Path</h3>
  <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="sub-syllabus">
      <h3>7️⃣ Introduction to Front-End Engineer Career Path</h3>
      <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="bt-syllabus">
    <button style="color: white;" class="btn" mat-button (click)="openSnackBar()">See all 180 units</button>
  </div>  
</div> 
</div>
<!-- syllabus details --><br/>
<hr class="syllabus-detail">

<div class="syllabus-detail">
<pre>
<h3><b>Unlock Your Language Potential with Manya : Your Experienced Japanese Tutor</b></h3>Greetings! I am an enthusiastic learner and dedicated professional, currently pursuing a Bachelor of Commerce at Delhi University, New Delhi.<br/>My academic journey has been complemented by a deep passion for languages, particularly Japanese, and I am excited to share my knowledge<br/>and experience with you.

What You Will Learn from Me:

<b>Language Proficiency:</b>Benefit from my certified proficiency in Japanese (JLPT N2) and English, along with a strong foundation in Hindi and Punjabi.
<b>Teaching Expertise:</b>Acquire insights from my experience as a Japanese Language Tutor at reputable institutions like Language Fluent Pvt. Ltd,<br/>Awaywegoo Travels And Languages Pvt. Ltd, and Kizuna Japanese Academy.
<b>Interpretation and Translation Skills:</b>Explore the nuances of Japanese language interpretation and translation through my current role at <br/>Japanese School New Delhi, Vasant Kunj.
<b>Educational Pursuits:</b>Gain insights into my continuous learning journey, including my pursuit of advanced Japanese Language Teachers' Training <br/>courses and courses at prestigious institutions like Japan Foundation.
<b>Professional Achievements:</b>Learn from my achievements, such as winning the 1st Prize in the Japanese Speech Competition during Mini Fest<br/>Tsukimi and participating in notable contests like the 35th North Zone Japanese Language Speech Contest.
<b>Extracurricular Involvement:</b>Understand my active involvement in course development programs, membership in the Japanese Society at<br/>St. Stephens College, and volunteering experiences at cultural events.
<b>Traineeships:</b>Explore my traineeships with Japan Foundation, engaging in diverse courses and gaining exposure to Japanese culture, language,<br/>and haiku.
<b>Current Ventures:</b>Stay updated on my current role as a Japanese Language Interpretator and Translator at Japanese School New Delhi, Vasant<br/>Kunj, and my participation in ongoing courses like "Let's Speak Together" and "Introduction to Haiku."
Feel free to reach out if you are eager to delve into the fascinating world of Japanese language and culture. Let's embark on this language learning<br/>journey together!
</pre></div>  

<!-- review by customers -->
<br/><br/><hr class="syllabus-detail"><br/><br/><br/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <div class="wrapper">
    <div class="box">
      <i class="fas fa-quote-left quote"></i>
      <p>Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias.</p>
      <div class="content">
        <div class="info">
          <div class="name">Alex Smith</div>
          <div class="job">Designer | Developer</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="/assets/Divya review.png" alt="">
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left quote"></i>
      <p>Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias.</p>
      <div class="content">
        <div class="info">
          <div class="name">Steven Chris</div>
          <div class="job">YouTuber | Blogger</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="/assets/Manya AU.png" alt="">
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left  quote"></i>
      <p>Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias.</p>
      <div class="content">
        <div class="info">
          <div class="name">Kristina Bellis</div>
          <div class="job">Freelancer | Advertiser</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="/assets/Mansi AU.png" alt="">
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
 
