<app-header></app-header>
<div class="container">  <!--placed flex to divide into an three-->
    <!--block 1 started-->
    <div class="block1">
        <img id="img-user" src="assets/user.png" alt="user-img"> 
        <h3 class="user-name">WELCOME LINGUISTIC</h3>
    </div>

    <div class="block2"><iframe width="870" height="515"
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
    <img class="btn-1" src="/assets/forword-btn.png" style="transform: rotate(180deg);">    
    <img class="btn-2" src="/assets/forword-btn.png">
    </div>

    <div class="block3">
        <img id="img-tutor" src="/assets/Christiana_AU-removebg-preview.png" alt="user-img"> 
        <h3 class="tutor-name">Christiana Olotu</h3> 
        <p class="paragraph">         
            I'm Christiana, a language enthusiast whose journey from a French diploma at French Village Badagry to becoming a seasoned French tutor has been fueled by a lifelong passion for languages. With years of teaching experience and exposure to innovative methods, I'm excited to guide you in mastering French.Join me on this linguistic adventure, and let's achieve significant growth in your French language skills together.</p>
        <p><img class="bl-3-img" src="/assets/Flag_of_France.svg.png"></p>
        <p class="paragraph2">
            "French, a language that dances on the palate, whispers elegance with each syllable, inviting learners into a world of refined expression"
        </p>    
        <p class="paragraph3">
        - Christiana
        </p>    
    </div>
</div>    
<app-footer></app-footer>
