<app-header></app-header>
<div class="msg-bar">
    <img class="favicon" src="assets/1200px-Flag_of_the_United_States.svg.png">  
    English<br/>
    ⭐⭐⭐⭐4/5 (124 reviews) with Mansi Mandot <img class="profile" src="/assets/Mansi.png">
    <h3 style="color:gold;">Learn English With Mansi</h3>  
    <h3>Making mistakes is a natural part of the language <br/> learning process.The key is to learn from these mistakes.<br/> Don’t be afraid to try out new things in English but always<br/> remember to reflect on them and decide what was successful <br/> and what you  need to keep working on.</h3>
    <img class="play" src="/assets/LH LOGO - Copy.png"><br/>
    <iframe class="introduction" width="560" height="315" src="https://youtu.be/Y681hXWwhQY?si=e1o1YOwyQUz1MvFY" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
     web-share" allowfullscreen></iframe>
</div><br/>
<!-- <br/><div class="seperate-line"></div><br/> -->
<h2><b>Everything you need,structured and ready to go</b></h2>
<hr class="syllabus-detail">
<br/><br/>
<div class="container">
<div class="left-card">  <!--card with discription --> 
<div class="product-card">
    <img src="/assets/Mansi_AU-removebg-preview.png" alt="English-Tutor">
    <h4><b>English With Mansi</b></h4>
    <div>    
      <button mat-raised-button (click)="route_link()"
        matTooltip="Redirecting to the Buying Page"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Buy
</button>
      <!-- <span>$299</span> -->
    </div>    
</div>
  <div class="icon-title">
    <div><img class="img" src="/assets/online-graduation-7539.png">Shareable Certificate
    <div class="caption">Earn a Certificate upon completion</div><br/>
    <div><img class="img" src="/assets/tablet-704.png">100% online courses</div>
    <div class="caption">Start instantly and learn at your own<br/>schedule.</div><br/>
    <div><img class="img" src="/assets/event-2319(1).png">Flexible Schedule</div>
    <div class="caption">Set and maintain flexible deadlines.</div><br/>
    <div><img class="img" src="/assets/green-battery-lighting-or-power-19108.png">Beginner Level</div>
    <div class="caption"> No prior experience required.
    <pre style="color: black;">Approximately 3 months to complete
     Suggested pace of 1 hour/week
     English
     Subtitles: English
    </pre>
    </div> 
</div>
</div>
<h1><b>What you'll learn</b></h1>
Develop strong language skills in reading, writing, listening, and speaking through structured lessons and activities.
</div>
<div class="syllabus-box">
  <div class="head-syllabus">
  <h1><b>CURRICULUM</b></h1>
  <p>42 Units⌚5 Tests⌚180+ Lessons</p>
  </div>

  <div class="sub-syllabus">
  <h3>1️⃣ Introduction to Front-End Engineer Career Path</h3>
  <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="sub-syllabus">
  <h3>2️⃣ Introduction to Front-End Engineer Career Path</h3>
  <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="sub-syllabus">
  <h3>3️⃣ Introduction to Front-End Engineer Career Path</h3>
  <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="sub-syllabus">
  <h3>4️⃣ Introduction to Front-End Engineer Career Path</h3>
  <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="sub-syllabus">
  <h3>5️⃣ Introduction to Front-End Engineer Career Path</h3>
  <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="sub-syllabus">
  <h3>6️⃣ Introduction to Front-End Engineer Career Path</h3>
  <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="sub-syllabus">
      <h3>7️⃣ Introduction to Front-End Engineer Career Path</h3>
      <p>✔ Welcome to the Front-End Engineer Career Path!</p>
  </div>

  <div class="bt-syllabus">
    <button style="color: white;" class="btn" mat-button (click)="openSnackBar()">See all 180 units</button>
  </div>  
</div> 
</div>
<!-- syllabus details --><br/>
<hr class="syllabus-detail">

<div class="syllabus-detail">
  <pre>
  <h3><b>Unlock Your Language Potential with Mansi Mondot: Your Experienced English Tutor</b></h3><h3>Introduction:</h3>  Are you ready to conquer the English language with confidence? Meet Mansi Mondot, an accomplished English tutor with a passion<br/>  for empowering students to excel. Pursuing an MCOM degree, Mansi blends academic expertise with practical teaching methods,<br/>  creating a dynamic learning environment suitable for high school-level learners.
  
  Why Choose Mansi Mondot?
  Comprehensive Instruction: Tailored lessons catered to individual needs, strengths, and areas for improvement.
  
  Interactive Teaching Methods: Engage in discussions, debates, role-playing, and multimedia resources to enhance critical thinking and creativity.
  
  Areas of Expertise:
  
<b>  Reading and Comprehension:</b>Develop a love for reading while analyzing various texts and literature.
<b>  Writing Proficiency:</b> Sharpen writing skills for creative writing, essays, reports, and formal communication.
<b>  Grammar and Vocabulary:</b> Make grammar enjoyable and expand vocabulary through interactive exercises.
<b>  Oral Communication:</b> Boost confidence in verbal expression through conversation practice and pronunciation drills.
<b>  Exam Preparation:</b> Receive specialized guidance for TOEFL, IELTS, and Cambridge exams.
<b>  Empowering and Motivating Learning:</b> Growth Mindset: Foster a mindset that turns challenges into opportunities for improvement.
<b>  Supportive Atmosphere:</b> Build confidence, self-esteem, and a passion for learning in a nurturing environment.
  
  <b>Mansi's Commitment:</b>
  With three years of teaching experience and a pursuit of an MCOM degree, Mansi is dedicated to equipping students with language skills,<br/>  critical thinking abilities, and success in academics and beyond.
  
  Embark on a Transformative Learning Journey:
  If you seek a dedicated tutor to unlock your language potential, Mansi is here for you. Let's begin an exciting adventure together,<br/>  building the necessary skills to thrive in a globalized world. Your journey to success starts now!  
 <!-- <h3>Requirements</h3>
  <p>Just some high school level.</p>
<h3>Tutor Name: Mansi Mondot</h3>
Experienced English Tutor Pursuing MCOM with a Passion for Empowering Students
<br/><br/>
<h2>Introduction</h2>
<br/>
<p>
  Are you struggling with mastering the English language? Look no further! As an experienced English tutor with six years of teaching expertise and a passion for guiding students towards success, I am dedicated to providing comprehensive and engaging English language instruction. Currently pursuing my MCOM degree, I combine theoretical knowledge with practical teaching methods, fostering a positive and conducive learning environment for students of all ages and proficiency levels.
</p>
<p> 
  Experience and Teaching Approach:
  Over the past six years, I have had the privilege of working with diverse students, each with unique learning styles and goals. My approach to tutoring is student-centered, focusing on their individual needs, strengths, and areas for improvement. By tailoring lessons to accommodate their preferences and interests, I ensure that learning becomes an enjoyable and rewarding experience.
</p>
<p>  
  My teaching methodology encompasses various interactive techniques, such as discussions, debates, role-playing, and multimedia resources. These strategies not only strengthen language skills but also nurture critical thinking, communication, and creativity.
</p> 
<p> 
  Areas of Expertise:
  During my extensive teaching journey, I have honed my expertise in several crucial areas of English language learning:
</p>
<p>  
  1. Reading and Comprehension: Instilling the love for reading while improving comprehension skills through analyzing various texts, literature, and contemporary materials.
<br/>  
  2. Writing Proficiency: Assisting students in developing their writing abilities, whether it's creative writing, essays, reports, or formal business communication.
<br/>  
  3. Grammar and Vocabulary: Making grammar fun and accessible by using interactive exercises and expanding vocabulary through contextual learning.
<br/>  
  4. Oral Communication: Boosting confidence in verbal expression through conversational practice, public speaking exercises, and pronunciation drills.
<br/>  
  5. Exam Preparation: Providing tailored preparation for standardized English exams, including TOEFL, IELTS, and Cambridge examinations.
</p>
<p>  
  Empowering and Motivating Students:
  As an English tutor, I believe in fostering a growth mindset in my students, encouraging them to embrace challenges and see failures as opportunities for improvement. I strive to create a supportive and encouraging atmosphere that builds confidence, self-esteem, and a passion for learning.
</p>  
  My ultimate goal is to equip students not only with language skills but also with the ability to think critically, express themselves eloquently, and succeed academically and professionally.
<p>  
  Conclusion:
  If you are seeking an experienced and dedicated English tutor who can unlock your language potential and inspire you to reach new heights, look no further. With my six years of teaching experience and a pursuit of MCOM, I am committed to helping you achieve your language goals and guiding you on the path to success. Together, we will embark on a transformative learning journey that will empower you with the necessary skills to thrive in a globalized world. Let's begin this exciting adventure together!
</p> -->
</pre>
</div>  

<!-- review by customers -->
<br/><br/><hr class="syllabus-detail"><br/><br/><br/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <div class="wrapper">
    <div class="box">
      <i class="fas fa-quote-left quote"></i>
      <p>LinguistHubs has transformed language learning into a delightful journey. The interactive spoken lessons make it easy to grasp multiple languages effortlessly.</p>
      <div class="content">
        <div class="info">
          <div class="name">Divya Kumare</div>
          <div class="job">Designer | Developer</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="/assets/Divya review.png" alt="">
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left quote"></i>
      <p>LinguistHubs made English fluency a breeze – the perfect platform to learn multiple languages effortlessly!</p>
      <div class="content">
        <div class="info">
          <div class="name">Chetan Urkude</div>
          <div class="job">Engineer | TCL Ltd</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="/assets/chetan-testimonial.png" alt="chetan">
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left  quote"></i>
      <p>Mansi Mam's approach at LinguistHubs makes mastering English not just a lesson but an experience. The platform's multiple language options are an added bonus!</p>
      <div class="content">
        <div class="info">
          <div class="name">Rajeshree Khapekar</div>
          <div class="job">Freelancer | Advertiser</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="/src/assets" alt="">
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
 
