<app-header></app-header>
<div class="container">  <!--placed flex to divide into an three-->
    <!--block 1 started-->
    <div class="block1">
        <img id="img-user" src="assets/user.png" alt="user-img"> 
        <h3 class="user-name">WELCOME LINGUISTIC</h3>
    </div>

    <div class="block2"><iframe width="870" height="515"
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
    <img class="btn-1" src="/assets/forword-btn.png" style="transform: rotate(180deg);">    
    <img class="btn-2" src="/assets/forword-btn.png">
    </div>

    <div class="block3">
        <img id="img-tutor" src="/assets/Garima-removebg-preview.png" alt="user-img"> 
        <h3 class="tutor-name">Garima Shrivastava</h3> 
        <p class="paragraph">      
As an experienced online Hindi tutor, I bring over 7 years of global teaching expertise, specializing in creating a supportive and engaging learning environment for students of all ages. My passion lies in helping individuals expand their Hindi skills, fostering confidence, and empowering students to embrace the richness of the language in their daily lives.         
        </p>
        <p><img class="bl-3-img" src="/assets/Flag_of_Russia.svg.png"></p>
        <p class="paragraph2">
            "Hindi, a linguistic tapestry woven with vibrant words, not only imparts linguistic knowledge but also reveals the cultural melodies and poetic rhythms that make each expression a symphony of emotions"
        </p>    
        <p class="paragraph3">
        - Garima
        </p>    
    </div>
</div>    
<app-footer></app-footer>
