<app-header></app-header>
<div class="bg-color">
<div class="msg-bar">
    <img class="favicon" src="/assets/LH LOGO - Copy.png"><br/><br/><br/>
    <h1 class="h1-tagline">   
    Everything you need to<br/><br/>
    become an Language expert
    </h1> 
    <h3 style="color:gold;">🏆 3x Award-Winning Courses</h3>
    <h3>Learn the smarter and faster way, with industry best-practices and real-world scenarios<br/> for you to become the ultimate Linguistic. </h3>
     <iframe class="introduction" width="560" height="315" src="https://www.youtube.com/embed/sX1Y2JMK6g8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
</div>
<div class="information">
  <p>Connect with <span style="color: rgb(102, 11, 126);"> LinguistHubs</span>, explore language !</p>
</div> 

<div class="msg">

<h3>
Say hello to <span style="color: rgb(102, 11, 126);font-weight: bold;">LinguistHubs</span> – your own Linguistic coach.

Become a fluent Linguistic speaker by talking<br/> with LinguistHubs anytime, anywhere, and about anything.
</h3>
</div><br/><br/>
<!-- side card and some text to explain -->

<div class="container">
  <div class="one"><img class="one-gif" src="/assets/promotional_video.gif"></div>
  <div class="two"><h1><span style="color: red;font-weight:bolder;font-size:200%;">{{tagLine}}</span>, just endless possibilities. Dive into course creation, selling, webinar hosting, community building, and website & app launch with zero upfront or backend fees</h1>
  <button class="two-btn1">Get started</button><button class="two-btn2">Book Demo</button>
  <br/>
  <h5>No starting fees – get started in just 20 minutes</h5>
  <h5 class="hundred">100+ creators empowered</h5>  
  </div>
</div> 

<div class="container2">
  <div class="onec1"><h2><span style="color: rgb(8, 76, 223);font-weight:bolder;font-size:110%;">We stand out by offering the best</span>,<br/> with zero compromise and zero fees</h2>
  <button class="two-btnc2">Start for free</button><button class="two-btnc1">Book for demo</button>
  </div>
  <div><img class="twoc2" src="/assets/banner.png"></div>
</div>
  
<div class="bridge-para">
  <h2><span class="bridge-paraword">Bridge the Gap - </span> Join a Thriving Community of 1000+ Students and Teachers on LinguistHubs Transform your knowledge into income by creating courses, selling digital products, running webinars, and more !</h2>
  <button class="two-btn1">Get started</button><button class="two-btn2">Book Demo</button>
</div>

<!-- poster our services -->
<div class="container-grid">
  <div  class="container-grid1"><h5 class="img-gridtexth5">Website builder</h5><h6 class="img-gridcontainerh6">Craft your online presence effortlessly with our intuitive website builder.</h6><img class="img-gridcontainer" src="/assets/startup.gif"></div>
  <div class="container-grid2"><h5 class="img-gridtexth5">Marketing tools</h5><h6 class="img-gridcontainerh6">Fuel your success with our comprehensive marketing toolkit.</h6><img class="img-gridcontainer" src="/assets/marketing.gif"></div>
  <div class="container-grid3"><h5 class="img-gridtexth5">Chat community</h5><h6 class="img-gridcontainerh6">Discover the heartbeat of shared ideas and connections in our thriving chat community.<br/>Join our vibrant chat community, where conversations come alive.</h6><img class="img-gridcontainer" src="/assets/cloud.gif"></div>
  <div class="container-grid4"><h5 class="img-gridtexth5">Most secure platform</h5><h6 class="img-gridcontainerh6">Connect with confidence in our chat community, the epitome of a secure platform.</h6><img class="img-gridcontainer" src="/assets/secure.gif"></div>
  <div class="container-grid5"><h5 class="img-gridtexth5">integrated payment gateways</h5><h6 class="img-gridcontainerh6">Simplify transactions with seamless integrated payment gateways.</h6><img class="img-gridcontainer" src="/assets/payment.gif"><h6 class="img-gridcontainerh6">Enhance your operations with reliable third-party support.<br/>Unlock the potential of hassle-free transactions through our integrated payment gateways.<br/>Simplify transactions and accelerate success with our seamlessly integrated payment gateways.</h6></div>
  <div class="container-grid6"><h5 class="img-gridtexth5">Third party support</h5><h6 class="img-gridcontainerh6">Enhance your operations with reliable third-party support.<br/>Navigate challenges seamlessly with our trusted third-party support.<br/>Elevate your business with our top-tier third-party support, ensuring smooth operations and peace of mind.</h6><img class="img-gridcontainer" src="/assets/programmer.gif"></div>
  <div  class="container-grid7"><h5 class="img-gridtexth5">Advanced sales insights</h5><h6 class="img-gridcontainerh6">Elevate your sales strategy with actionable intelligence from our advanced insights.</h6><img class="img-gridcontainer" src="/assets/sales.gif"></div>
</div>

<div>
  <img class="app-cs" src="/assets/app.png">
</div>

<div class="container-testimonials">
  <div class="container-box1"><b>Hear What Our Customers Have to Say: </b>Genuine Testimonial Reviews That Speak Louder Than Words<br/></div>
  <div class="container-box2"><img class="container-boximg" src="/assets/right-preview.png" alt="quote"><br/>Linguisthubs.com transformed my language skills with engaging lessons and a supportive community.<br/><br/><img class="testimonial-img" src="/assets/Divya review.png" alt="comment"><span class="text-testimonial">Divya</span></div>
  <div class="container-box3"><img class="container-boximg" src="/assets/right-preview.png" alt="quote"><br/>Impressed by Linguisthubs.com's interactive approach, boosting my confidence in language learning.<br/><br/><img class="testimonial-img" src="/assets/chetan-testimonial.png" alt="comment"><span class="text-testimonial">Chetan</span></div>
  <div class="container-box4"><img class="container-boximg" src="/assets/right-preview.png" alt="quote"><br/>Linguisthubs.com transformed my language journey with interactive lessons and a supportive community.<br/><br/><img class="testimonial-img" src="/assets/rajeshree.png" alt="comment"><span class="text-testimonial">Rajeshree</span></div>
  <div class="container-box5"><img class="container-boximg" src="/assets/right-preview.png" alt="quote"><br/>Accelerated language proficiency with Linguisthubs.com's structured lessons and real-life applications.<br/><br/><img class="testimonial-img" src="/assets/Akshay.JPG" alt="comment"><span class="text-testimonial">Akshay</span></div>
  <div class="container-box6"><img class="container-boximg" src="/assets/right-preview.png" alt="quote"><br/>I appreciate the focus on real-world scenarios, which has significantly enhanced my language skills.<br/><br/><img class="testimonial-img" src="/assets/parul.png" alt="comment"><span class="text-testimonial">Parul</span></div>
  <div class="container-box6"><img class="container-boximg" src="/assets/right-preview.png" alt="quote"><br/> Highly recommended linguisthubs platform for anyone looking to master a new language efficiently !<br/><br/><img class="testimonial-img" src="/assets/prajkta.png" alt="comment"><span class="text-testimonial">Prajkta</span></div>
  <div class="container-box6"><img class="container-boximg" src="/assets/right-preview.png" alt="quote"><br/>Linguisthubs.com goes beyond education,making language learning enjoyable and effective.<br/><br/><img class="testimonial-img" src="/assets/sambodhi.png" alt="comment"><span class="text-testimonial">Sambodhi</span></div>
</div>
<app-footer></app-footer>
