<app-header></app-header>
<div class="container">  <!--placed flex to divide into an three-->
    <!--block 1 started-->
    <div class="block1">
        <img id="img-user" src="assets/user.png" alt="user-img"> 
        <h3 class="user-name">WELCOME LINGUISTIC</h3>
    </div>

    <div class="block2"><iframe width="870" height="515"
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
    <img class="btn-1" src="/assets/forword-btn.png" style="transform: rotate(180deg);">    
    <img class="btn-2" src="/assets/forword-btn.png">
    </div>

    <div class="block3">
        <img id="img-tutor" src="/assets/Manya_AU-removebg-preview (1).png" alt="user-img"> 
        <h3 class="tutor-name">Manya Suri</h3> 
        <p class="paragraph">      
I'm an enthusiastic learner and committed professional currently pursuing a Bachelor of Commerce at Delhi University, with a profound passion for languages, especially Japanese (JLPT N2 certified). Drawing from my extensive teaching experience and roles as a Japanese Language Tutor, Interpreter, and Translator, I offer insights into language proficiency, teaching expertise, and interpretation skills.    
        </p>
        <p><img class="bl-3-img" src="/assets/Flag_of_Japan.svg.png"></p>
        <p class="paragraph2">
            "Japanese, a linguistic tapestry woven with elegance, invites learners to unravel the artistry of characters, where every word tells a story of tradition, precision, and cultural depth"
        </p>    
        <p class="paragraph3">
        - Manya
        </p>    
    </div>
</div>     
<app-footer></app-footer>
