<app-header></app-header>
<body>
    <div class="wrapper">
        <!-- PRICING-TABLE CONTAINER -->
        <div class="pricing-table group">
            <h1 class="heading">
                Pricing overview
            </h1>
            <!-- PERSONAL -->
            <div class="block personal fl">
                <h2 class="title">Single</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <sup>₹</sup>
                        <span>199</span>
                        <sub>/mo.</sub>
                    </p>
                    <p class="hint">Validity-6 Months</p>
                </div>
                <!-- /CONTENT -->

                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fontawesome-cog"></span>10-Day Money-Back</li>
                    <li><span class="fontawesome-star"></span>Access on mobile and TV</li>
                    <li><span class="fontawesome-dashboard"></span>Certificate of completion</li>
                    <li><span class="fontawesome-dashboard"></span>10+ Top Access Online Test</li>
                </ul>
                <!-- /FEATURES -->
                <!-- PT-FOOTER -->
                <div class="pt-footer">
                    <p><button class="btn-hide">Buy</button></p>
                </div>
                <!-- /PT-FOOTER -->
            </div>
            <!-- /PERSONAL -->

            <!-- PROFESSIONAL -->
            <div class="block professional fl">
                <h2 class="title">Premium</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <sup>₹</sup>
                        <span>399</span>
                        <sub>/mo.</sub>
                    </p>
                    <p class="hint">Validity-12 Months</p>
                </div>
                <!-- /CONTENT -->
                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fontawesome-cog"></span>10-Day Money-Back</li>
                    <li><span class="fontawesome-star"></span>Access on mobile and TV</li>
                    <li><span class="fontawesome-dashboard"></span>Certificate of completion</li>
                    <li><span class="fontawesome-dashboard"></span>10+ Top Access Online Test</li>
                </ul>
                <!-- /FEATURES -->
                <!-- PT-FOOTER -->
                <div class="pt-footer">
                    <p><button class="btn-hide">Buy</button></p>
                </div>
                <!-- /PT-FOOTER -->
            </div>
            <!-- /PROFESSIONAL -->
            <!-- BUSINESS -->
            <div class="block business fl">
                <h2 class="title">Business</h2>
                <!-- CONTENT -->
                <div class="content">
                    <p class="price">
                        <sup>₹</sup>
                        <span>499</span>
                        <sub>/mo.</sub>
                    </p>
                    <p class="hint">Validity-18 Months</p>
                </div>
                <!-- /CONTENT -->

                <!-- FEATURES -->
                <ul class="features">
                    <li><span class="fontawesome-cog"></span>10-Day Money-Back</li>
                    <li><span class="fontawesome-star"></span>Access on mobile and TV</li>
                    <li><span class="fontawesome-dashboard"></span>Certificate of completion</li>
                    <li><span class="fontawesome-dashboard"></span>10+ Top Access Online Test</li>
                </ul>
                <!-- /FEATURES -->

                <!-- PT-FOOTER -->
                <div class="pt-footer">
                    <p><button class="btn-hide">Buy</button></p>
                </div>
                <!-- /PT-FOOTER -->
            </div>
            <!-- /BUSINESS -->
        </div>
        <!-- /PRICING-TABLE -->
    </div>
</body>
<app-footer></app-footer>